html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("../assets/bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.login-content {
  flex: 1;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.login-footer {
  width: 100%;
  color: white;
  font-size: 0.85rem;
}
